<div class="content">
<%= form_tag(@signature_set, :method => :put) do %>

  <% if @signature_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signature_set.errors.count, "error") %> prohibited this signature_set from being saved:</h2>

      <ul>
      <% @signature_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="sortable" style="width: 100%;">
	<div class="caption">Signature set <%= @signature_set.id %> - details</div>
	<thead><tr><th scope="col">Field</th><th scope="col">Value</th></tr></thead>
	<tbody>
		<tr><td>Name</td><td><%= text_field :signature_set, :name %></td></tr>
		<tr><td>Export as YAML</td><td><a href="/signature_sets/<%= @signature_set.id %>/yaml">Download</a></td></tr>
		<tr><td>Alert aggregator (syslog)</td><td><%= text_field :signature_set, :aggregator %></td></tr>
		<tr><td>Aggregator port (default 514)</td><td><%= text_field :signature_set, :aggregator_port %></td></tr>
		<tr><td>Process blacklist (<a href="../../documentation/regex" target="_blank" class="visible">regular expressions</a>) </td><td><%= text_area :signature_set, :procblacklist %></td></tr>
		<tr><td><strong>Client setup</strong></td><td>Clients need one of the below configuration options and <a class="visible" href="<%= root_url %>installer.msi">the msi installer</a>.</td></tr>
		<tr><td>ADM file (group policy)</td><td><a class="visible" onclick="getAdm(<%= @signature_set.id %>)">Download</a></td></tr>
		<tr><td>Batch file</td><td><a class="visible" onclick="getRegcmd(<%= @signature_set.id %>)">Download</a></td></tr>
	</tbody>
	<tfoot><tr><td colspan="2">  </td></tr></tfoot>
</table>

</div>
<div class="content"><span class="button" onclick="history.go(-1)">Back</span>
<span class="button" style="float: right;" onclick="document.forms[0].submit()">Save</span> </div>

<% end %>
