<% content_for :unwrapped do %>
<%= javascript_include_tag 'sorttable.js' %>
<div class="modal small" id="new">
	<h2 id="modalTitle">Signature set - details</h2>
	<h3>Info</h3>
	<form id="newform" onsubmit='return submitNewSig()'>
		<table>
			<tbody>
				<tr><td><p class="dialog">Field</p></td><td><p class="dialog">Value</p></td></tr>
				<tr><td><p class="dialog">Name</p></td><td><input id="signature_set_name" name="signature_set[name]" size="30" type="text" value="" title="The name of the signature set" /></td></tr>
			</tbody>
		</table>
		<input type="submit" value="Submit"></input>
		<input type="submit" value="Close" onclick="closeOverlay();return false;"></input>
	</form>
</div>
<% end %>

<%= render 'import' %>

<div class="content">
<table class="sortable" style="width: 100%">
	<div class="caption">Signature Sets</div>
	<thead><tr><th scope="col">Number</th><th scope="col">Name</th><th scope="col">Signatures</th><th scope="col"></th></tr></thead>
	<tbody id="sigtbody">
	<% @signature_sets.each do |signature_set| %>
		<tr><th id="<%= signature_set.id %>_box"><%= signature_set.id %></th><td><a href="<%= url_for signature_set %>"><%= signature_set.name %></td><td><a href="<%= url_for signature_set %>">View/Edit Signatures</a></td><td><a onclick="deleteSignatureSet(<%=signature_set.id %>)">Delete Signature Set</a></td></tr>			
	<% end %>
	</tbody>
	<tfoot><tr><td colspan="4"></td></tr></tfoot>
</table>
</div>
<div class="content">
<span class="left"><span class="button" onclick="importSigSet()">Import</span></span>
<span class="right"><span class="button" onclick="newSigSet()">New</span></span>
</div>
