<!DOCTYPE html>
<html class="<%= browserclass %>">
<head>
	<title>Ambush IPS</title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= javascript_include_tag params[:controller] %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>
<div id="wrap">
<%= yield :unwrapped %>
<div id="main">
<div class="header">
	<p class="head">
<% if  current_user.nil? %>
Ambush HIPS
<% else %>
<a href="/alerts">Alerts</a> | <a href="/">Signatures</a> | <a href="/logout">Logout</a><%= yield :headeritem %>
<% end %>
</p>
</div>
<%= yield %>
</div>
</div>
<div class="footer" id="footer">
	<p class="head">&copy; 2011 scriptjunkie all rights reserved.</p>
</div>
</body>
</html>
